
  
  .inputs {
    outline: none;
    padding: 5px 20px;
    display: block;
    width: 80%;
    border-radius: 3px;
    border:#555 1px solid ;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .login{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }  
  
  img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-width: 15%;
    width: 215px;
    border-radius: 4px;
  }

  h1{
     margin-top: 20px; 
     margin-bottom: 20px;
     text-align: center;
     width: 70%;
     margin-left: auto;
     margin-right: auto;
  }

  .submit{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .submitBTN{
      color: #fff;
      width: 85%;
      margin: 20px auto;
      margin-top: 0;
      border: 0;
      border-radius: 360px;
      cursor: pointer;
  }

  .loginBackground{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  .loginContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginContent{
    margin-bottom: 100px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.65);
    width: 85%;
    max-width: 300px;
    min-height: 300px;
  }
  
  .spacer{
    width: 90%;
    margin: auto;
    border: #bbb 1px solid;
  }

  :host ::ng-deep .mat-form-field-label {
    color: #bbb;
}

.message{
    background-color: #ddd;
    padding: 1px 10px;
    border-radius: 360px;
    height: min-content;
    width: fit-content;
    margin:10px;
  }

  .messageContainer{
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width:425px){
    
  }