.container{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: block;
    justify-content: center;
    align-items: center;
}

.addButton{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.card {
    width: 40%;
}

p{
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
    }    
}
