<header *ngIf="sesion" class="mat-elevation-z4">
  <div class="headerSpacer" style="justify-content: flex-start;">
    <button (click)="sideEvent()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="headerSpacer" style="justify-content: center">
    <img [routerLink]="['/home']" src="../assets/logo.png" class="logo">
  </div>
  <div class="headerSpacer" style="justify-content: flex-end; overflow:hidden;">
    <button (click)="openDialog()" class="account" mat-button>
      <div  class="account">
        <p>{{nombre}} </p>
        <mat-icon >person</mat-icon>
      </div> 
    </button>
  </div>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened={{sidenav}}>
    <button class="sidenavButtons" (click)="nav('home')" mat-button>
      <mat-icon aria-hidden="false" aria-label="Close icon">home</mat-icon>
         Inicio
    </button>
    <button class="sidenavButtons" (click)="nav('miCarro')" mat-button>
      <mat-icon aria-hidden="false" aria-label="Close icon">directions_car</mat-icon>
         Mi carro
    </button>
    <button class="sidenavButtons" (click)="nav('misRides')" mat-button>
      <mat-icon aria-hidden="false" aria-label="Close icon">groups</mat-icon>
        Mis rides
    </button>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'height': (sesion) ?'90vh' :'100vh'}" style="background-color: #eee;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
